<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Text Analysis</title>
  </head>
  <body>
    <div class="app">
      <main>
        <header class="headline">
          <h1>News Analysis</h1>
          <h2>Enter the URL of any news article to analyze the sentiment of what was written using NLP</h2>
        </header>
  
        <form onsubmit="return Client.handleSubmit(event)" class="url-input">
          <input type="text">
          <button type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Start</button>
        </form>
  
        <section class="results">
          <p id="result"></p>
        </section>
      </main>
    </div>
    <footer class="footer">Made by <a href="https://www.alfonsoruiz.com" target="_blank">Alfonso Ruiz </a> &#129304;</footer>
  </body>
</html>