// Fonts
$headline-font: 'Lora', serif;
$primary-font: 'Lato', sans-serif;
$line-height: 1.3;

// Colors
$primary-color: black;
$result-color: #20AF24;
$warning-color: orange;

// Weights
$font-weights: (
  'reg': 300,
  'bold': 700
);

// Borders
$primary-border: 1px solid black;
$border-radius: 10px;