@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import 'reset';

* {
  box-sizing: border-box;
}

.app {
  min-height: calc(100vh - 100px);
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}