@import 'variables';
@import 'functions';

.headline {
  text-align: center;

  h1 {
    font-family: $headline-font;
    font-size: 100px;
    font-weight: weight(bold);
  }

  h2 {
    font-size: 22px;
    font-family: $primary-font;
    font-weight: weight(reg);
  }

  h1,
  h2 {
    margin-bottom: 30px;
  }
}