@import 'variables';
@import 'functions';

.results {
  font-family: $primary-font;
  text-align: center;
  font-weight: weight(reg);
  font-size: 20px;
  color: $result-color;

  a {
  color: $result-color;
  }

  a:visited {
    color: none;
  }
}