@import 'variables';
@import 'functions';

.results {
  font-family: $primary-font;
  font-weight: weight(reg);
  font-size: 20px;
  color: $result-color;
  line-height: $line-height;
  text-align: center;
  width: 100%;

  a {
  color: $result-color;
  }

  a:visited {
    color: none;
  }
}

@media(min-width: 500px) {
  #result {
    margin: 0 auto;
    max-width: 60%;
  }
}