#validation-message {
  color: orange;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  border: 2px solid orange;
  padding: 10px 0;
  display: none;
  margin: 30px 0;
  border-radius: 10px;
}